<h1 class="margin_bottom_quarter_em"><%= @cohort.name %></h1>
<p class="margin_bottom_2em gray_text">Week <%= @cohort.current_week %></p>

<% @cohort.students.sort_by(&:name).each do |student| %>
  <% unless student.admin %>
    <%= render 'student_info_block', student: student, challenges_due: @challenges_due, exercises_due: @exercises_due %>
  <% end %>
<% end %>
