<h1>Phase 0 App</h1>

<% if !authenticated? %>
  <p>Please sign in.</p>
<% else %>
  <h2>Cohorts in Phase 0</h2>

  <ul>
    <% @cohorts.each do |cohort| %>
      <li><%= cohort.name %></li>
    <% end %>
  </ul>
<% end %>
