<div class="left">
  <span class="left"><%= current_user.name %></span>
</div>
<div class="right">
  <span class="right"><%= link_to 'sign out', :signout %></span>
</div>
<div class="center_text gray_text">
  <span>Phase 0 App</span>
</div>
